<h1 style="text-align: center">{{ titulo }}</h1>
<form action="">
  Nombre:<input type="text" name="nombre" id="" [(ngModel)]="nombre" /><br />
  <br />
  Apellido:
  <input type="text" name="apellido" id="" [(ngModel)]="apellido" />
  Cargo:
  <input type="text" name="cargo" id="cargo" [(ngModel)]="cargo" />
  <br /><br />
  <input
    type="submit"
    name=""
    id=""
    value="Registrar"
    (click)="registrarUsuario()"
  />
</form>
<br />

<p *ngIf="registrado; else sinRegistrar">
  {{ mensaje }} con el nombre de {{ nombre }} {{ apellido }} y tiene del cargo
  de
  <!-- operador ternario cargo =='director' ?  'red' :'black' es lo mismo que decir if (cargo =='director') console.log('reg') else console.log('black') forma con [ngStyle] -->
  <!-- <span
    [ngStyle]="{
      color: cargo == 'director' || cargo == 'Director' ? 'red' : 'black'
    }"
    >{{ cargo }}</span
  > -->

  <!-- forma con  -->
  <span
    [ngClass]="{ paraDirectores: cargo == 'director' || cargo == 'Director' }"
    >{{ cargo }}</span
  >
</p>

<!-- no carga, por defecto su contenido con ng-template y se va a mostrar solo si la condicion no se clumple con un else -->
<ng-template #sinRegistrar>
  <p>Nadie registrado</p>
</ng-template>

<br /><br />

<ul>
  <li *ngFor="let entrada of entradas; let i = index">
    <span style="font-size: large; font-weight: bold">{{ entrada.titulo }}</span
    >.Entrada{{ i + 1 }}
  </li>
</ul>
