<h1>{{ title }}</h1>
<div class="container">
  <form action="">
    Numero1<input type="number" name="numero1" id="" [(ngModel)]="numero1" />
    <br />
    <br />
    <!-- bindin bidireccional -->
    Numero2
    <input type="number" name="numero2" id="" [(ngModel)]="numero2" /> <br />
    <br />

    <input
      type="submit"
      value="sumar"
      (click)="sumar()"
      class="btn btn-success"
    />
    &nabla;
    <input
      type="submit"
      value="restar"
      (click)="restar()"
      class="btn btn-primary"
    />&nabla;
    <input
      type="submit"
      value="multiplicacion"
      (click)="multiplicacion()"
      class="btn btn-info"
    />
    &nabla;
    <input
      type="submit"
      value="divicion"
      (click)="divicion()"
      class="btn btn-warning"
    />

    <input
      type="submit"
      value="divicion"
      (click)="divicion2()"
      class="btn btn-default"
    />
  </form>
</div>
<!-- interpolacion -->
<p>Resultado: {{ resultado }}</p>
